@using ProjectManagement.Models
@model ProjectManagement.Models.TaskProject

@{
    ViewData["Title"] = "AddTask";
}

<h1>AddTask</h1>

<h4>TaskProject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTask" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" name="title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" name="content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" type="hidden" name="projectId" class="form-control" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>*@
@*            <div class="form-group">
                <label asp-for="DateBegin" class="control-label"></label>
                <input asp-for="DateBegin" class="form-control" />
                <span asp-validation-for="DateBegin" class="text-danger"></span>
            </div>*@
@*            <div class="form-group">
                <label asp-for="DateEnd" class="control-label"></label>
                <input asp-for="DateEnd" class="form-control" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>*@
@*            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFinished" /> @Html.DisplayNameFor(model => model.IsFinished)
                </label>
            </div>*@
@*            <div class="form-group">
                <label asp-for="CompletedPercentage" class="control-label"></label>
                <input asp-for="CompletedPercentage" class="form-control" />
                <span asp-validation-for="CompletedPercentage" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="TaskPriority" class="control-label"></label>
                <select asp-for="TaskPriority" asp-items="Html.GetEnumSelectList<Priority>()" name="priorityValue">
                    <option value="">Choose the Priority</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
