

<form asp-action="CreateRole" method="post">
    <input type="text" name="newRoleName" placeholder="New Role Name">
    <button type="submit">Create New Role</button>
</form>

<p>
    <a asp-controller="Home" asp-action="Index">Back home</a>
</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>