@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "AllUsers";
}

@model ICollection<ApplicationUser>

<h1>All Users</h1>

<div> Your user name is @ViewBag.UserName</div>
@if (Model != null)
{
    <ul>
        @foreach (var a in Model)
        {
            <li>
                @a.Email
                @a.Id

            </li>
        }
    </ul>
}


<p>
    <a asp-controller="Home" asp-action="AllProjects">Back to list</a>
</p>
