@{
    ViewData["Title"] = "Home Page";
}
 

<div class="text-center">
    <h1 class="display-4">Welcome to Projects Management</h1>
</div>
<div>
<p>
    <a  class="display-6" style="text-decoration:none" asp-controller="Home" asp-action="Index1">Managers</a>
 </p>
 <p>
    <a  class="display-6" style="text-decoration:none" asp-controller="Home" asp-action="AllProjectsDev">Developers</a>
 </p>
 </div>
